SOAX_HOST=proxy.soax.com
SOAX_PORT=5000
SOAX_LOGIN_PREFIX=package-346398-country
SOAX_LOGIN_SUFFIX=opt-lookalike
SOAX_PASSWORD=your_password_here

REGISTRATION_URL=https://wg.myloric.com/?mid=135009_2206678

# необязательно
TELEGRAM_BOT_TOKEN= 8698270219:AAEqmcJXrh2D-0voTNKbXxoZFBw2QCMYgWY
TELEGRAM_CHAT_ID=-8698270219
